@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-progressbar-size: 5px;
  --swiper-pagination-color: #e50000;
  --swiper-pagination-progressbar-bg-color: #333333;
}

@layer utilities {
  .responsive-logo {
    height: clamp(2.188rem, 8vw, 3.75rem);
  }

  .title-header-clamped {
    font-size: clamp(28px, 4.3vw, 58px);
  }

  .section-mb-clamp {
    margin-bottom: clamp(40px, 6vw, 80px);
  }

  .card-image-clamp {
    width: clamp(60px, 12vw, 120px);
    height: clamp(60px, 12vw, 120px);
  }

  .image-fade::after {
    display: block;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: calc(100% + 1px);
  }

  .list-with-bar li:not(:last-child) {
    border-right: 1px solid #262626;
    padding-right: 16px;
  }
}

body {
  background-color: #141414;
  color: #fff;
}

.swiper-pagination-mobile.swiper-pagination-progressbar {
  border-radius: 20px;
  overflow: hidden;
}

.swiper-pagination-mobile > .swiper-pagination-progressbar-fill {
  border-radius: 20px;
}

.swiper-pagination-desktop > .swiper-pagination-bullet {
  cursor: pointer;
  margin: 3px;
  background-color: #333333;
  width: 18px;
  border-radius: 100px;
  height: 4px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 4px;
  background-color: #e50000;
  width: 18px;
  border-radius: 100px;
}

.swiper-slide {
  max-width: fit-content !important;
  margin-right: clamp(20px, 3vw, 30px) !important;
}

.swiper-button-disabled {
  transition-duration: 0.3s;
  opacity: 0.5;
  cursor: auto;
}
